<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804089414657-3gjd6qgirg5qgu8eu58pb9mgkbn5mdna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804089414657-3gjd6qgirg5qgu8eu58pb9mgkbn5mdna</string>
	<key>API_KEY</key>
	<string>AIzaSyCoYz-eKwCcz0mb1Y9ohEysLJtos3czbAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>804089414657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recursionNitd</string>
	<key>PROJECT_ID</key>
	<string>recursion-nitd-977fd</string>
	<key>STORAGE_BUCKET</key>
	<string>recursion-nitd-977fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804089414657:ios:1eef0ee1fdc1361b62ac00</string>
</dict>
</plist>